@model personapi_dotnet.Models.Entities.Persona

@{
    ViewData["Title"] = "Crear Persona";
}

<h1>Crear Persona</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Cc"></label>
        <input asp-for="Cc" class="form-control" />
        <span asp-validation-for="Cc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Genero"></label>
        <input asp-for="Genero" class="form-control" />
        <span asp-validation-for="Genero" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Edad"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
